@import 'tailwindcss';

.wrapper {
  @apply block bg-white rounded-lg shadow hover:shadow-lg transition
  hover:scale-105 hover:border-blue-400 border-2 border-transparent focus:outline-none focus:ring-2
focus:ring-blue-300;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
