@import 'tailwindcss';

#root {
  @apply px-4 lg:px-[5vw] 2xl:px-[18vw] relative text-gray-700 overflow-x-hidden;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --hero-bg: url('/img/desktop/hero.avif');
  --hero-bg-mobile: url('/img/mobile/hero.avif');

  --transition-duration: 0.3s;
  --transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@layer base {
  a,
  [role='link'] {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    transition: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }

  a:hover,
  [role='link']:hover {
    color: var(--color-blue-400);
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

@layer utilities {
  .glare-effect::before {
    content: '';
    @apply absolute inset-0 pointer-events-none z-50;
    background: linear-gradient(
      var(--glare-angle),
      transparent 60%,
      var(--glare-color) 70%,
      transparent 100%
    );
    background-size: var(--glare-size) var(--glare-size);
    background-repeat: no-repeat;
    background-position: -100% -100%;
    transition: background-position var(--transition-duration) ease;
  }

  .glare-effect:hover::before {
    background-position: 100% 100%;
  }

  .glare-effect.glare-played::before {
    transition: none !important;
    background-position: 100% 100% !important;
  }
}
